.burger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    
}

.bar {
    width: 25px;
    height: 3px;
    background-color:#22c55e;
    margin: 6px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    .burger-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(11px, 10px);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -10px);
    }
}
